body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(246, 247, 248);
}

a {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.log-in-box {
  padding-top: 48px;
  padding-right: 88px;
  padding-bottom: 48px;
  padding-left: 88px;
  height: 493px;
  width: 98%;
  max-width: 652px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  transition: all 0.7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-log-in-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 40px;
  gap: 16px;
  color: rgb(168, 168, 168);
  font-size: 16px;
}

footer a {
  padding: 8px;
}

.moving-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 1s ease, left 1s ease, width 1s ease, height 1s ease; /* Add transition for width and height */
  width: 274px;
  height: 334px;
  z-index: 3;
}

.moving-img img {
  width: 100%;
  height: 100%;
}

.moving-img.move {
  position: absolute;
  top: 141px;
  left: 127px;
  width: 100px;
  height: 122px;
}

.opacity-layer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 247, 248);
  opacity: 1;
  pointer-events: none;
  transition: opacity 2s; /* Opacity transition with a duration of 1 second */
}

.opacity-layer.hidden {
  opacity: 0; /* When the hidden class is added, set opacity to 0 */
}

.inner-box-header {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: 700;
}

.inner-box-text {
  color: var(--primary-color);
  font-size: 23px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .log-in-box {
    padding-top: 28px;
    padding-right: 48px;
    padding-bottom: 28px;
    padding-left: 48px;
  }
}

@media (max-width: 860px) {
  .moving-img.move {
    width: 64px;
    height: 78px;
    top: calc(40px);
    left: calc(37px);
  }

  .moving-img {
    width: 100px;
    height: 122px;
    top: calc(50% - 61px);
    left: calc(50% - 17px);
  }

  .moving-img img {
    position: absolute;
    top: 21px;
    left: 22px;
  }
}

@media (max-width: 770px) {
  .log-in-box {
    padding: 0px;
    width: 98%;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
  }
  body {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 400px) {
  .log-in-box {
    padding-top: 32px;
  }
}

@media (max-height: 820px) {
  .moving-img.move {
    width: 44px;
    height: 58px;
    top: calc(20px);
    left: calc(17px);
  }

  .log-in-box {
    padding: 12px;
    height: max-content;
    position: absolute;
    top: 13%;
    left: 3%;
    max-width: 94%;
  }
}
